<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle New</title>
</head>

<body>
    <h4>Add Vehicle</h4>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.value.label }}<br>
            {{ form.value }}<br>
            {% for error in form.value.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.defect.label }}<br>
            <select name="defect">
                {% for defect in defects_data %}
                <option value="{{ defect[0] }}">{{ defect[1] }}</option>
                {% endfor %}
            </select><br>
            {% for error in form.defect.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>

</html>